@media screen and (min-width: 64em) {

  header {
    background-color: rgba(254, 254, 254, .99);
    height: 77px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }

  .dow-top-nav-wrap {
    border-bottom: .0625rem solid $lightest-gray;

    .dow-logo {

      a {

        img {
          margin-top: 1.25rem;
          margin-left: 2.5rem;
          height: rem-calc(35px);
          vertical-align: middle;
        }
      }
    }

    #dow-nav-default {
      margin: 0 auto;
      //font-family: 'Arya', 'Roboto', Helvetica, Arial, sans-serif;
      //font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-family: 'Prompt', sans-serif;
      font-size: rem-calc(16pt);
      text-align: center;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style-type: none;
          margin-left: 3.063rem;

          &:first-child {
            //margin-left: 0;
            margin-left: 3.063rem;

          }

          &:last-child {
            float: right;
            padding-left: rem-calc(55px);
            margin-left: 0;
            margin-right: 2.5rem;
            border-left: .0625rem solid $lightest-gray;

            span {
              margin-right: 7px;
            }
          }

          a {
            font-weight: 400;
            line-height: 4.8rem;
            color: $light-gray;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -ms-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;

            &:hover {
              color: $dark-gray;
              text-decoration: none;
            }

            &:active {
              color: $dark-gray;
              text-decoration: none;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}