@media screen and (max-width: 63.9375em) {

  header {
    background-color: rgba(254, 254, 254, .99);
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }

  .dow-top-nav-wrap {
    padding: 0;
    border-bottom: .0625rem solid $lightest-gray;

    .dow-logo {

      a {

        img {
          margin-top: 0.9375rem;
          margin-bottom: 0.9375rem;
          margin-left: 1.25rem;
          height: 1.875rem;
          display: inline-block;
          float: left;
        }

        span {
          margin-left: 0.5rem;
          color: $dark-gray;
          font-family: 'Arya', 'Roboto', Helvetica, Arial, sans-serif;
          font-size: 1rem;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 60px;
          display: inline-block;
          min-width: 97px;
        }
      }
    }

    #dow-nav-mobile {

      &:before {
        position: absolute;
        float: right;
        right: 0;
        content: "\f0c9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 1.125rem;
        line-height: 1.875rem;
        padding: 0.9375rem 1.25rem;
        color: $white;
        text-align: center;
        background: $light-blue;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
      }

      &.open {

        &:before {
          background: $dark-blue;
        }

        ul {
          -webkit-transform: translate3d(-500px, 0, 0);
          -moz-transform: translate3d(-500px, 0, 0);
          -ms-transform: translate3d(-500px, 0, 0);
          -o-transform: translate3d(-500px, 0, 0);
          transform: translate3d(-500px, 0, 0);
        }
      }

      ul {
        position: absolute;
        top: 3.75rem;
        right: -500px;
        z-index: 100;
        padding: 1.25rem;
        min-width: rem-calc(150px);
        background: $light-blue;
        text-align: right;
        font-size: 1rem;
        text-decoration: none;
        //text-transform: uppercase;
        -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        -webkit-transition: .35s;
        -moz-transition: .35s;
        -o-transition: .35s;
        transition: .35s;

        li {
          color: $white;
          display: block;
          list-style-type: none;
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: $white;
            //font-family: 'Arya', 'Roboto', Helvetica, Arial, sans-serif;
            //font-size: 1rem;
            //text-decoration: none;
            //text-transform: uppercase;

            font-family: 'Roboto', Helvetica, Arial, sans-serif;
            font-size: rem-calc(14pt);
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }
  }

  .lt-ie10 #dow-nav-mobile.open ul {
    right: 0;
  }
}