@media screen and (min-width: 64em) {

  // DOW Post Header
  .dow-post-wrapper {
    margin-top: rem-calc(123px);

    .dow-post-title {
      font-family: 'Taviraj', serif;
      font-weight: 500;
      font-size: rem-calc(53pt);
      font-style: italic;
      text-align: center;
      color: $medium-gray;
      line-height: 64px;
      margin-bottom: rem-calc(28px);
    }

    .dow-post-meta {
      margin: 0 auto;
      text-align: center;

      &:before {
        content: "";
        max-width: 170px;
        border-bottom: .0625rem solid $lightest-gray;
        float: none;
        display: block;
        margin-bottom: rem-calc(5px);
        margin-top: rem-calc(28px);
        margin-left: auto;
        margin-right: auto;
      }

      .dow-post-date {
        //float: left;
        display: inline;
        //font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-family: 'Prompt', sans-serif;
        font-weight: 400;
        font-size: rem-calc(16pt);
        //text-transform: uppercase;
        vertical-align: middle;
        line-height: 47px;
        color: $light-gray;
        margin-right: 10px;
        white-space: nowrap;
      }

      .dow-post-author {
        //float: left;
        display: inline;
        //font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-family: 'Prompt', sans-serif;
        font-weight: 400;
        font-size: rem-calc(16pt);
        //text-transform: uppercase;
        vertical-align: middle;
        color: $light-gray;
        line-height: 47px;
        white-space: nowrap;
      }

      ul {
        //display: inline;
        vertical-align: middle;
        float: none;
        margin-left: 0;
        //margin-right: 15px;
        color: $light-gray;

        li {
          display: inline-block;
          list-style-type: none;
          margin: 0 5px;

          a {
            color: $light-gray;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -ms-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;

            &:hover {
              color: $dark-gray;
              text-decoration: none;
            }

            i {
              font-size: rem-calc(23pt);
              line-height: 47px;
            }
          }
        }
      }

      .dow-post-audio {
        line-height: 45px;
        display: inline;

        .label {
          &:hover {
            background-color: $dark-blue;
          }
        }

        a {
          color: $white;
        }
      }
    }
  }

  // DOW Post Content
  .dow-post-content {
    margin-top: 46px;

    p {
      //font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-family: 'Prompt', sans-serif;
      font-weight: 400;
      font-size: rem-calc(18pt);
      color: $gray;
      line-height: 36px;
      padding: 0 55px;
      margin-bottom: 24px;
    }

    ul {
      font-family: 'Prompt', sans-serif;
      font-weight: 400;
      font-size: rem-calc(18pt);
      color: $gray;
      line-height: 36px;
      padding: 0 65px;
      margin-bottom: 24px;
      list-style: none;

      li {
        display: list-item;

        &:before {
          content: "\f069";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          padding-right: 13px;
          color: $light-blue;
        }
      }
    }

    .dow-post-section-title {
      font-family: 'Taviraj', serif;
      font-weight: 500;
      font-style: italic;
      font-size: rem-calc(28pt);
      //text-transform: uppercase;
      color: $medium-gray;
      line-height: 64px;
      margin-bottom: rem-calc(14px);
      padding: 0 55px;
    }

    .dow-post-quote {
      font-family: 'Prompt', serif;
      font-weight: 300;
      font-style: italic;
      font-size: rem-calc(36pt);
      color: $light-blue;
      line-height: 48px;
      margin-bottom: rem-calc(31px);
      padding: 40px 65px;
      background-image: url('../img/dow-quote.svg');
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: contain;
      min-height: 200px;
      display: block;
      margin-top: 31px;
      margin-left: 65px;
    }

    // DOW Post Images
    img {
      padding: 0;
      display: block;
      border: .0625rem solid $lightest-gray;
      margin-top: 9px;
      padding: 5px;

      &.dow-post-side-image {
        width: 480px;
      }

      &.dow-post-large-image {
        width: 960px;
        margin-bottom: rem-calc(28px) !important;
      }

      &.dow-post-featured-image {
        width: 1080px;
        margin-bottom: rem-calc(48px) !important;
      }

      &.dow-post-commercial {
        width: 960px;
        margin-bottom: rem-calc(28px) !important;
      }

      &.alginleft {
        float: left;
        margin-right: 24px;
        display: inline;
        margin-left: 55px;
      }

      &.algincenter {
        float: none;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
body {
  background-image: url('../img/dow-opto-letters.png');
  background-size: cover;
  background-repeat: repeat-y;
}
