@media screen and (max-width: 63.9375em) {

  // DOW Post Header
  .dow-post-wrapper {
    margin-top: rem-calc(84px);

    //.dow-post-title {
    //  font-family: 'Arya', 'Roboto', Helvetica, Arial, sans-serif;
    //  font-weight: 700;
    //  font-size: rem-calc(36pt);
    //  text-transform: uppercase;
    //  color: $medium-gray;
    //  line-height: 42px;
    //  margin-bottom: rem-calc(26px);
    //}

    .dow-post-title {
      font-family: 'Taviraj', serif;
      font-weight: 500;
      font-size: rem-calc(43pt);
      //text-transform: uppercase;
      font-style: italic;
      color: $medium-gray;
      line-height: 52px;
      margin-bottom: rem-calc(28px);
    }

    .dow-post-date {
      float: none;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: rem-calc(14pt);
      text-transform: uppercase;
      line-height: 8px;
      color: $lighter-gray;
      margin-right: 20px;
      white-space: nowrap;
    }

    .dow-post-author {
      float: none;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: rem-calc(14pt);
      text-transform: uppercase;
      color: $lighter-gray;
      line-height: 8px;
      margin-right: 10px;
      white-space: nowrap;
    }

    ul {
      margin-left: 0;
      margin-right: 15px;
      color: $lighter-gray;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 10px;
        float: left;

        a {
          color: $lighter-gray;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -ms-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;

          &:hover {
            color: $dark-gray;
            text-decoration: none;
          }

          i {
            font-size: rem-calc(32pt);
            line-height: 37px;
          }
        }
      }
    }

    .dow-post-audio {
      line-height: 10px;

      .label {
        &:hover {
          background-color: $dark-blue;
        }
      }

      a {
        color: $white;
      }

    }
  }

  // DOW Post Content
  .dow-post-content {
    margin-top: 26px;

    p {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 1rem;
      color: $gray;
      line-height: 31px;
      margin-bottom: 18px;
    }

    // DOW Post Images
    .wp-caption {
      background: $lightest-gray;
      font-size: rem-calc(12pt);
      color: $medium-gray;
      padding: 0;
      text-align: center;
      line-height: 32px;
      margin-bottom: 18px;

      img {
        width: 480px;
        display: block;
      }
    }

    .alginleft {
      float: left;
      display: inline;
    }

    img {

      &.dow-image-left {
        margin: 20px 20px 20px 0px;
        width: 480px;
      }
    }

    .dow-image-caption-img {

    }
  }
}